// This is all a bit pointless since I made the background
// position change instead.
// Well, not exactly.
// Using animation allows using animationend events to unlock
// initiating new swipes.

@keyframes to-left {
  0% {
    opacity: 1;
    transform: translateX( 0 );
    z-index: 12;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX( -80% );
    z-index: 10;
  }
}

@keyframes to-right {
  0% {
    opacity: 1;
    transform: translateX( 0 );
    z-index: 12;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX( 80% );
    z-index: 10;
  }
}


.to-left {
  animation: .8s ease-in-out 0s 1 normal both paused to-left;
}
.to-right {
  // animation: .8s ease-in-out 0s 1 normal both paused to-right;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-name: to-right;

}

.from-left {
  // animation: .8s ease-in-out 0s 1 reverse both paused to-left;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-name: to-left;
}

.from-right {
  // animation: .8s ease-in-out 0s 1 reverse both paused to-right;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-name: to-right;
}

.to-left,
.to-right,
.from-left,
.from-right {
  &.running {
    animation-play-state: running;
  }
}