* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: $font-family;
}

.sr-only {
  border: 0; 
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
