// 2 buttons

.btn {
  color: #fff;
  display: inline-block;
  // text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn-red {
  background-color: $reddish;

  &:hover {
    background-color: $dark-reddish;
  }
  &:focus {
    box-shadow: 0 0 2px 4px rgba( 220, 102, 102, .666 );
    outline: 0;
  }
}

// big red
.btn-large {
  color: $off-white;
  font-weight: 400;
  line-height: 1.294;

  border-radius: px2vw-375( 30 );
  font-size: px2vw-375( 17 );
  letter-spacing: px2vw-375( .4 );
  // min-width: px2vw-375( 246 );
  padding: px2vw-375( 19 ) px2vw-375( 35 );
  
  @include media-breakpoint-up( md ) {
    border-radius: px2vw-1440( 30 );
    font-size: px2vw-1440( 17 );
    letter-spacing: px2vw-1440( .4 );
    // min-width: px2vw-1440( 246 );
    padding: px2vw-1440( 19 ) px2vw-1440( 35 );
  }

  @include media-breakpoint-up( xxl ) {
    border-radius: 30px;
    font-size: 17px;
    letter-spacing: 0.4px;
    min-width: 246px;
    padding: 19px 35px;  
  }

  &:hover {
    color: $off-white;
  }

  .icon-arrow-right {
    margin-left: px2vw-375( 15 );

    @include media-breakpoint-up( md ) {
      margin-left: px2vw-1440( 15 );
    }

    @include media-breakpoint-up( xxl ) {
      margin-left: 15px;
    }
  }

}

// lil red
.btn-small {
  border-radius: 5px;
  border-radius: px2vw-375(5);
  color: $white;
  display: inline-block;
  font-size: 13px;
  font-size: px2vw-375(13);
  font-weight: 400;
  letter-spacing: 0.3px;
  letter-spacing: px2vw-375(.3);
  line-height: 1.462;
  padding: 8px 13px 8px 14px;
  padding: px2vw-375(8) px2vw-375(13) px2vw-375(8) px2vw-375(14);
  
  @include media-breakpoint-up( md ) {
    border-radius: px2vw-1440(5);
    font-size: px2vw-1440(13);
    letter-spacing: px2vw-1440(.3);
    padding: px2vw-1440(8) px2vw-1440(13) px2vw-1440(8) px2vw-1440(14);
  }

  @include media-breakpoint-up( 1440px ) {
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 0.3px;
    padding: 8px 13px 8px 14px;
  }

  &:hover {
    color: $white;
  }
}

// you could throw swipe to explore in here, too, I suppose