//------------------------------------
//  SASS functions to make our lives easier!
//------------------------------------

//------------------------------------
//  Remove the units from a length value.
//  Returns the numeric portion.
//  Borrowed from Hugo Giraudel at CSS Tricks.
//  https://css-tricks.com/snippets/sass/strip-unit-function/
//------------------------------------
@function strip-units( $length ) {
  @if type-of( $length ) == 'number' and not unitless( $length ) {
    // SASS is crazy enough to remember the units after we multiply $length by 0!
    // Adding 1 to that then gives us 1{units}.
    // Finally, dividing $length{units} by 1{units} yields $length without units!
    @return $length / ( $length * 0 + 1 );
  }

  @return $length;
}

// return a percent based on passed values
@function percent( $numerator, $denominator ) {
  // maybe something to strip units if you want to get fancy.
  @return #{ ($numerator/$denominator) * 100 + '%' };
}

// given pixel measurements from PSD, calculate viewport width units
// $vp-width can be a number (with or without units) or a string.
// $vp-width allowed string values...
@function pixels-to-vw( $value, $vp-width: 1920px ) {

  $vp-width_default: 1920px !default;

  // check for string versions
  @if type-of( $vp-width ) == 'string' {
    @if $vp-width == 'mobile' or $vp-width == 'm' {
      $vp-width: 767px; // 767px because that's how wide the mobile PSD is!
    }
    @else if $vp-width == 'final' or $vp-width == 'f' or $vp-width == 'desktop' or $vp-width == 'd' {
      $vp-width: 1920px;
    }
    @else {
      $vp-width: $vp-width_default;
    }
  }

  // strip units from parameters just in case
  $value: strip-units( $value );
  $vp-width: strip-units( $vp-width );
  @return ( $value / $vp-width ) * 100vw;
}

@function px2vw( $value, $vp-width: 1920px ) {
  @return pixels-to-vw( $value, $vp-width );
}

@function px2vw-375( $value, $vp-width: 375px ) {
  @return pixels-to-vw( $value, $vp-width );
}

@function px2vw-1440( $value, $vp-width: 1440px ) {
  @return pixels-to-vw( $value, $vp-width );
}