$height-hero-m: px2vw-375( 643 );

#hero {

  max-width: 100%;
  overflow: hidden;
  position: relative;

  height: $height-hero-m;
  max-height: $height-hero-m;

  // Background.jpg includes the gradient
  // &:before {
  //   background: linear-gradient(
  //     180deg,
  //     $white 0%,
  //     rgba(255, 255, 255, .9) 28%,
  //     rgba(255, 255, 255, 0) 100%
  //   );
  //   content: "";
  //   display: block;
  //   left: 0;
  //   pointer-events: none;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   z-index: 11;

  //   height: px2vw-375( 264 );
  // }

  // &:after {
  //   background: linear-gradient(
  //     180deg,
  //     rgba(0,0,0,0) 0%,
  //     rgba(0,0,0,1) 100%
  //   );
  //   content: '';
  //   bottom: 0;
  //   display: block;    
  //   left: 0;
  //   opacity: .5;
  //   pointer-events: none;
  //   position:absolute;
  //   width: 100%;
  //   z-index: 11;

  //   height: px2vw-375( 80 );
  // }

  @include media-breakpoint-up( md ) {
    // background-image: url( ../img/id_sloan-chaise_basichero_r1_ADJ.jpg );
    background-image: url( ../img/interior-define-living-room-scene.jpg );
    background-repeat: no-repeat;
    background-size: 100%;

    margin: 0 auto;
    max-height: none;
    max-width: 100%;
    max-width: 1440px; // so it halts on large screens
    // force aspect ratio
    padding-top: percent( 880, 1440 );
    width: 100%;

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      background-image: url( ../img/interior-define-living-room-scene@2x.jpg );
    }
  

    // &:before {
    //   background: linear-gradient(
    //     180deg,
    //     #fff 0%,
    //     rgba(255, 255, 255, 0) 100%
    //   );
    //   height: px2vw-1440( 416 );
    //   opacity: .7;
    // }

    // &:after {
    //   display: none;
    // }
  }

  // @include media-breakpoint-up( xxl ) {
  //   &:before {
  //     height: 416px;
  //   }
  // }

  .header {
    position: relative;
    z-index: 100;

    padding: 0 px2vw-375( 20 );

    @include media-breakpoint-up( md ) {
      padding-left: px2vw-1440(130); // 130px;
      position: absolute;
      top: px2vw-1440( 85 ); // 85px;
    }

    @include media-breakpoint-up( xxl ) {
      padding-left: 130px;
      top: 85px;
    }

    .headline {
      color: $reddish;
      font-weight: 600;
      line-height: 1.143;

      font-size: px2vw-375( 42 );
      letter-spacing: px2vw-375( .1 );
      margin: px2vw-375( 50 ) 0 px2vw-375( 15 );


      @include media-breakpoint-up( md ) {
        line-height: 1.25;

        font-size: px2vw-1440( 80 );
        letter-spacing: px2vw-1440( 1.5 );
        margin: 0 0 px2vw-1440( .2 );
      }

      @include media-breakpoint-up( xxl ) {
        font-size: 80px;
        letter-spacing: 1.5px;
        margin: 0 0 2px;
      }
  
    }

    .subhead {
      color: $gray;
      font-weight: 600;
      line-height: 1.294;

      font-size: px2vw-375( 17 );
      letter-spacing: px2vw-375( .4 );
      margin-bottom: px2vw-375( 15 );

      @include media-breakpoint-up( md ) {
        line-height: 1.455;
        font-size: px2vw-1440( 22 );
        letter-spacing: px2vw-1440( .3 );
        margin-bottom: px2vw-1440( 4 );
      }

      @include media-breakpoint-up( xxl ) {
        font-size: 22px;
        letter-spacing: .3px;
        margin-bottom: 4px;

      }
    }

    .body {
      color: $gray;
      font-weight: 600;
      line-height: 1.2;

      font-size: px2vw-375( 15 );
      letter-spacing: px2vw-375( .2 );
      margin-bottom: px2vw-375( 20 );
      // text-shadow: 0 0 8px $white;
      text-shadow: 0 0 px2vw-375( 8 ) $white,
        0 0 px2vw-375( 4 ) rgba( 255,255,255, .5 );

      @include media-breakpoint-up( md ) {
        line-height: 1.778;

        font-size: px2vw-1440( 18 );
        letter-spacing: px2vw-1440( .25 );
        margin-bottom: px2vw-1440( 32 );
        // text-shadow: 0 0 px2vw-1440( 8 ) $white;
        text-shadow: 0 0 px2vw-1440( 8 ) $white,
        0 0 px2vw-1440( 4 ) rgba( 255,255,255, .5 );

      }

      @include media-breakpoint-up( xxl ) {
        font-size: 18px;
        letter-spacing: 0.25px;
        margin-bottom: 32px;
        text-shadow: 0 0 8px $white,
          0 0 4px rgba( 255,255,255, .5 );
      }
    }
  }

}


#hero__mask {
  background-image: url( ../img/Background.jpg );
  background-position-y: top;
  background-repeat: no-repeat;
  // background-size: 100%;
  background-size: cover;

  height: 100%;
  max-width: 100%;
  position: absolute;

  top: 0;
  width: 100%;
  z-index: 5;


  @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    background-image: url( ../img/Background@2x.jpg );
  }

  &.middle {
    background-position-x: center;
    transition: background-position-x .8s;
  }

  &.left {
    background-position-x: left;
    transition: background-position-x .8s;
  }

  &.right {
    background-position-x: right;
    transition: background-position-x .8s;
  }

  .pane {
    // background-image: url( ../img/id_sloan-chaise_basichero_r1_ADJ.png );
    // background-position-y: top;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: none;

    height: 100%;
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    // transition: translate .6s ease-in-out;
    width: 100vw;
    z-index: 1;

    &.middle {
      background-position-x: center;
      left: 0;

    }
    &.left {
      background-position-x: left;
    }
    &.right {
      background-position-x: right;
    }

    &.active {
      display: block;
      // transform
      z-index: 10;
    }    

    .tag,
    .modal {
      pointer-events: initial;
    }
  } // .pane

  .swipe-bar {
    background: rgba( 0, 0, 0, .5 );
    color: $off-white;
    cursor: pointer;
    font-weight: 400;
    left: 50%;
    line-height: 1.467;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 15;

    border-radius: px2vw-375( 5 );
    bottom: px2vw-375( 20 );
    font-size: px2vw-375( 15 );    
    height: px2vw-375( 39 );
    letter-spacing: px2vw-375( .35 );
    padding: px2vw-375(8) px2vw-375(15) px2vw-375(9);
    width: px2vw-375( 216 );

    .icon-arrow-left {
      margin-right: px2vw-375( 18 );
    }
    .icon-arrow-right {
      margin-left: px2vw-375( 18 );
    }
  }

}

#desktop-hotspots {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20; // get in front of the gradient

  .tag {    
    &.active + .modal {
      display: block;
    }
  }

  .modal {

    transform: none;

  }
}