// size will depend on context...
// actually, tags should be the same-ish, depending on screen size...
// arrow size & color depend on context.

.icon--gray {
  background: $gray;
}

.icon--off-white {
  background: $off-white;
}

.icon-arrow {
  height: px2vw-375( 12 );
  width: px2vw-375( 18 );

  @include media-breakpoint-up( md ) {
    height: px2vw-1440( 12 );
    width: px2vw-1440( 18 );
  }

  @include media-breakpoint-up( xxl ) {
    height: 12px;
    width: 18px;  
  }
}

.icon-arrow-left {
  -webkit-mask: url( ../img/xp-icon__arrow--left.svg );
  mask: url( ../img/xp-icon__arrow--left.svg );
}

.icon-arrow-right {
  -webkit-mask: url( ../img/xp-icon__arrow--right.svg );
  mask: url( ../img/xp-icon__arrow--right.svg );
}

.icon-tag {
  -webkit-mask: url( ../img/xp-icon__tag.svg );
  mask: url( ../img/xp-icon__tag.svg );

  height: px2vw-375(16);
  width: px2vw-375(16);

  @include media-breakpoint-up( md ) {
    height: px2vw-1440( 20 );
    width: px2vw-1440( 20 );
  }

  @include media-breakpoint-up( xxl ) {
    height: 20px;
    width: 20px;
  
  }
}

// this has to be last so the mask shorthand above doesn't 
// override mask-size.
.icon {
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
}

