// mixins to make our lives easier!

@mixin pos-l-t( $left, $top ) {
  left: $left;
  top: $top;
}

// requires the pixels-to-vw() function
@mixin px2vw-pos( $left, $top, $viewport ) {
  @include pos-l-t( 
    pixels-to-vw( $left, $viewport ),
    pixels-to-vw( $top, $viewport )
  );  
}

@mixin px2vw-prop( $property, $px, $viewport ) {
  #{$property}: pixels-to-vw( $px, $viewport );
}

@mixin pp2v-m( $property, $px, $viewport: 375 ) {
  @include px2vw-prop( $property, $px, $viewport );
}

@mixin pp2v-d( $property, $px, $viewport: 1440 ) {
  @include px2vw-prop( $property, $px, $viewport );
}