// hotspot modals 
.modal {
  background: $off-white;
  display: none;
  left: 50%;
  position: absolute;
  transform: translate( -50%, 0 );
  z-index: 20;

  border-radius: px2vw-375(5);
  box-shadow: 0 0 px2vw-375(2) px2vw-375(.5) rgba(21,21,21,.05), 
    0 px2vw-375(1) px2vw-375(5) 0 rgba(21,21,21,.15); 
  height: px2vw-375( 110 );
  padding: px2vw-375(14) px2vw-375(20) px2vw-375(13);
  width: px2vw-375( 315 );


  @include media-breakpoint-up( md ) {
    border-radius: px2vw-1440(5);
    box-shadow: 0 0 px2vw-1440(2) px2vw-1440(.5) rgba(21,21,21,.05), 
    0 px2vw-1440(1) px2vw-1440(5) 0 rgba(21,21,21,.15); 
    height: px2vw-1440( 116 );
    width: px2vw-1440( 320 );
    padding: px2vw-1440(14) px2vw-1440(20) px2vw-1440(13);
  }

  @include media-breakpoint-up( xxl ) {
    border-radius: 5px;
    box-shadow: 0 0 2px .5px rgba(21,21,21,.05), 
    0 1px 5px 0 rgba(21,21,21,.15); 
    height: 116px;
    width: 320px;
  }

  // this is the direction relative to tag
  // maybe I should do this with JS...
  &.above {
    // top: 0 - 40 - 110
    top: px2vw-375( -120 );
  }
  &.below {
    // 30px of tag + 10px
    top: px2vw-375( 40 );
  }

  &__headline {
    color: $gray;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0;

    font-size: px2vw-375( 17 );
    letter-spacing: px2vw-375( .4 );

    @include media-breakpoint-up( md ) {
      font-size: px2vw-1440( 17 );
      letter-spacing: px2vw-1440( .4 );
    }
    @include media-breakpoint-up( xxl ) {
      font-size: 17px;
      letter-spacing: 0.4px;  
    }
  }

  &__body {
    color: $gray;
    font-weight: 400;
    line-height: 1.385;

    font-size: px2vw-375( 13 );
    letter-spacing: px2vw-375( .3 );


    @include media-breakpoint-up( md ) {
      font-size: px2vw-1440( 13 );
      letter-spacing: px2vw-1440( .3 );
    }

    @include media-breakpoint-up( xxl ) {
      font-size: 13px;
      letter-spacing: 0.3px;  
    }
  }

  &__cta {
    position: absolute;
    z-index: 10;

    right: px2vw-375( 20 );
    top: px2vw-375( 20 );

    @include media-breakpoint-up( md ) {
      right: px2vw-1440( 20 );
      top: px2vw-1440( 20 );
    }

    @include media-breakpoint-up( xxl ){
      right: 20px;
      top: 20px;  
    }
  }

  &__hr {
    background-color: $gray-dd;
    border: none;

    // keep this 1px...maybe
    height: 1px;

    margin-top: px2vw-375( 10 );
    margin-bottom: px2vw-375( 12 );


    @include media-breakpoint-up( md ) {
      margin-top: px2vw-1440( 10 );
      margin-bottom: px2vw-1440( 12 );
    }

    @include media-breakpoint-up( xxl ){
      margin-top: 10px;
      margin-bottom: 12px;
    }

  }

  &__cta--secondary {
    color: $gray;
    font-weight: 400;
    line-height: 1.385;
    text-decoration: none;

    font-size: px2vw-375(13);

    @include media-breakpoint-up( md ) {
      font-size: px2vw-1440(13);

    }
    @include media-breakpoint-up( xxl ) {
      font-size: 13px;      
    }

    &:hover {
      color: $gray;
      text-decoration: underline;
    }

    &:focus {
      // leave these or scale them too?
      box-shadow: 0 0 2px 4px rgba( 220, 102, 102, .666 );
      outline: 0;
    }

    .icon {
      margin-left: px2vw-375(10);

      @include media-breakpoint-up( md ) {
        margin-left: px2vw-1440( 10 );
      }
      @include media-breakpoint-up( xxl ) {
        margin-left: 10px;
      }
    }
  }
}

