.tag {
  background-color: $white;
  border-radius: 50%;
  display: block;
  position: absolute;

  // I should scale these, too
  box-shadow: 0 0 2px 0 rgba(21, 21, 21, .05),
    0 1px 4px 0 rgba(21, 21, 21, .15);
  height: px2vw-375(30);
  width: px2vw-375(30);

  @include media-breakpoint-up( md ) {
    height: px2vw-1440( 40 );
    width: px2vw-1440( 40 );
  }
  @include media-breakpoint-up( xxl ) {
    height: 40px;
    width: 40px;
  }

  .icon-tag {
    background-color: $gray;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &:hover,
  &[aria-expanded="true"],
  &.active {
    background-color: $reddish;

    .icon-tag {
      background-color: $white;
    }
  }

  &:focus {
    box-shadow: 0 0 2px 4px rgba( 220, 102, 102, .666 );
    outline: 0;
  }
}

#tag__ {
  &mobile-- {

    &middle-1 {
      left: px2vw-375(290);
    }

    &left-1 {
      left: px2vw-375(101);
    }
    &left-2 {
      left: px2vw-375(205);
    }
    &left-3 {
      left: px2vw-375(185);
    }

    &right-1 {
      left: px2vw-375(28);
    }
    &right-2 {
      left: px2vw-375(305);
    }


  }
}

.hotspot-wrapper {
  left: 0;
  position: absolute;
  width: 100%;

  .tag {
    top: 0;
  }
}

// hotspot wrappers
// Don't really need these, but they made it seem easier to 
// contain the modals on mobile and not have to set position of the modals
// manually relative to the pane or with JS.
#hs__ {
  &mobile-- {

    &middle-1 {
      top: px2vw-375(338);
    }

    &left-1 {
      top: px2vw-375(295);
    }

    &left-2 {
      top: px2vw-375(420);
    }

    &left-3 {
      top: px2vw-375(542);
    }

    &right-1 {
      top: px2vw-375(338);
    }
    &right-2 {
      top: px2vw-375(473);
    }

  }  
}


// Desktop tags
// yeah, I could have done them above, but meh.
#tag__desktop- {
  &1 {
    @include px2vw-pos( 258px, 432px, 1440 );
  }
  &2 {
    @include px2vw-pos( 367, 586, 1440 );
  }
  &3 {
    @include px2vw-pos( 282, 778, 1440 );
  }
  &4 {
    @include px2vw-pos( 901, 472, 1440 );
  }
  &5 {
    @include px2vw-pos( 1281, 608, 1440 );
  }
}

@include media-breakpoint-up( xxl ) {
  #tag__desktop- {
    &1 {
      @include pos-l-t( 258px, 432px );
    }
    &2 {
      @include pos-l-t( 367px, 586px );
    }
    &3 {
      @include pos-l-t( 282px, 778px );
    }
    &4 {
      @include pos-l-t( 901px, 472px );
    }
    &5 {
      @include pos-l-t( 1281px, 608px );
    }
  }
}

