// global SCSS variables

// colors

$black: #000;
$white: #fff;


// some site called this color Roman
// h1
// big button bg
$reddish: #DC6666;
$dark-reddish: #C75D5D;

// subhead
// inactive tag icon fg
$gray: #676564;


// hr fill
$gray-d8: #D8D8D8;
// hr border
$gray-dd: #DDDDDD;

// big button text
// drag to explore text and arrows
$off-white: #F7F5F2;

// tag icon bg box shadow
// modal box shadow
$box-shadow-color: #151515;
// however, this color is used with 5% and 15% opacity, so more like
$bs-1: rgba( 21, 21, 21, .05 );
$bs-2: rgba( 21, 21, 21, .15 );

// Font family
$font-family: 'Open Sans', sans-serif;

// add extra breakpoint for 1440px
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;
